body {
	font-family: 'Poppins', sans-serif;
}
h1 {
	font-size:1.4em;
}
p {
	font-size:1.1em;
	font-family: raleway, sans-serif;
	line-height:1.5em;
}

.ui-page-theme-a .ui-btn {
	font-family: 'Poppins', sans-serif;
}
.centerText {
	text-align:center;
}